db_yml_file:    "config/database.yml"
db_sample_file: "config/database.yml.sample"
dump_store:     "~/www/db/"

default_db:
  database: nil
  host:     "localhost"
  port:     "5432"
  username: "dev"
  password: "pass"
